* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}



/* HEADER-MAIN */


.header-main {
    display: none;
    background-color: #dfd3d3;
    padding: 15px 15px 15px 80px;
    font-size: .9rem;
    font-weight: bold;
    height: min-content;
}


/* HEADER-PROGRESS */

.header-progress {
    background: #dfd3d3;
    width: 100vw;
    height: min-content;
}

.message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: min-content;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1vw;
}

.message-child {
    margin-left: 6vw;
}

.progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: min-content;
padding: 1vw;
    /* height: 10px;
    width: 25%;
    top: 20px;
    left: 10%; */
}


.dot {
    display: flex;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.one {
    left: 65px;
    background: #0C84D9;
}

.two {
    left: 180px;
    background: #0C84D9;
}

.three {
    left: 290px;
    background: #0C84D9;
}

.four {
    background: #0C84D9;
}








/* SECTION FINISH */

.order-message {
    padding: 2em 5rem;
    line-height: 2;
}

.card {
    /* display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 20px; */
    display: flex;
    gap: 30px;
    padding: 0em 5rem;
    margin: auto 0;
}

/* PURCHASE CARD */
.purchase-card {
    padding: 2em;
    background-color: #fefefe;
}

.product-card {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 1em;
}

.product-title {
    line-height: 2;
}

.img-shirt {
    width: 150px;
}

.conditional-check {
    line-height: 2;
    margin-bottom: 1em;
}

.conditional-alert {
    color: red;
    background-color: rgb(250, 204, 211);
}

.btn-buy {
    padding: 4px 15px;
}

/* ORDER CARD */
.order-card {
    display: flex;
    flex-direction: column;

    padding: 2em;
    background-color: #fefefe;
    line-height: 2;
}

/* FOOTER */
.foot {
    background-color: #fefefe;
}



/* MEDIA QUERIES */

